factoryload/pipeline/General Load.json
{
	"name": "General Load",
	"properties": {
		"activities": [
			{
				"name": "Lookup config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Process",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup config').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ADWSourceData",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "TableName"
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": []
						}
					]
				}
			}
		],
		"annotations": []
	}
}