factoryload/pipeline/General Load.json
{
	"name": "General Load",
	"properties": {
		"activities": [
			{
				"name": "Lookup config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Process",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup config').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().TableName}"
								},
								{
									"name": "Destination",
									"value": "adwstage//@{variables('TableName')}.csv"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ADWSourceData",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"schemaName": "SchemaName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GeneralSink",
									"type": "DatasetReference",
									"parameters": {
										"SinkName": {
											"value": "@{variables('TableName')}.csv",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName",
								"value": {
									"value": "@item().TableName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "PersonDVLoad_copy1",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Copy Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "PersonDVLoad_copy1",
									"type": "DataFlowReference",
									"parameters": {
										"bkey": {
											"value": "'@{item().BKey}'",
											"type": "Expression"
										},
										"hubname": {
											"value": "'@{item().HubName}'",
											"type": "Expression"
										},
										"satname": {
											"value": "'@{item().SatName}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"DVSource": {
											"SinkName": "SinkName"
										},
										"HUBPerson": {
											"hubname": "HubName",
											"schemaName": "dbo"
										},
										"SinkHubPerson": {
											"hubname": "HubName",
											"schemaName": "dbo"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String"
			},
			"BKey": {
				"type": "String"
			}
		},
		"annotations": []
	}
}