pipeline/Generic Load.json
{
	"name": "Generic Load",
	"properties": {
		"activities": [
			{
				"name": "LoadDV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Source Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().SchemaName}.@{item().TableName}"
								},
								{
									"name": "Destination",
									"value": "adwstage//@{'<sourcetable>'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DVSource",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"table": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StageSource",
									"type": "DatasetReference",
									"parameters": {
										"sourcetable": {
											"value": "@concat(item().SchemaName, item().TableName)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Data Vault Load",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Copy Source Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Data Vault Load",
									"type": "DataFlowReference",
									"parameters": {
										"hubName": {
											"value": "'@{item().HubTable}'",
											"type": "Expression"
										},
										"satName": {
											"value": "'@{item().SatName}'",
											"type": "Expression"
										},
										"hashVal": {
											"value": "'@{item().HASHDIFFValues}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"DataVaultSource": {
											"sourcetable": "source"
										},
										"HUBSource": {
											"schemaName": "dbo",
											"hubName": "hubName"
										},
										"HubLoad": {
											"schemaName": "dbo",
											"hubName": "hubName"
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "AzureDataVaultDemo",
									"type": "IntegrationRuntimeReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup Config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy Config Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadUncommitted"
					},
					"dataset": {
						"referenceName": "DVConfig",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load Config File",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-30.australiaeast.logic.azure.com:443/workflows/c5d5f0ef5dc141ca8cea66e35c55782a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=e6YAQr5h-jsvqUI0f8Wfg5YnykZ3s0pB3AeEBk0O_n8",
					"method": "GET"
				}
			},
			{
				"name": "Copy Config Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load Config File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"annotations": []
	}
}