pipeline/LinkedLoad.json
{
	"name": "LinkedLoad",
	"properties": {
		"activities": [
			{
				"name": "LinkData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "LinkedLoadMeta",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LoadLink",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LinkData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LinkData').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "link_sources",
								"value": {
									"value": "@item().source_table",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"st": {
				"type": "String"
			},
			"link_sources": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}