pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Generic Load",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generic Load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Copy Config Notification Error",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Generic Load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "PipelineName",
						"value": "'Error Copy Config Data - Send Notification'"
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Send Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@concat('Copy Config Data', '  -  ', pipeline().Pipeline)",
							"type": "Expression"
						},
						"Subject": "Pipeline Failed!!!",
						"ErrorMessage": {
							"value": "@{activity('Copy Config Data').Error.Message}",
							"type": "Expression"
						},
						"EmailTo": "sarath@sarathboppudi.com"
					}
				}
			}
		],
		"annotations": []
	}
}